
html{
	background-image:url('../img/bg_default.gif');
	height:100%;
	width:100%}
body{
	background-image:url('../img/bg_top.gif');
	background-repeat:repeat-x;
	min-height:100%;
	width:100%;
	padding:0;
	margin:0;}
.button{
	text-decoration: none;
	font-family: Calibri, sans-serif;
	font-size:12pt;
	margin:2px 0 2px 0;
	}
#wrapper{
	width:100%;
	height:100%;}
#main{
	position:absolute;
	width:908px;
	left: 50%;
	margin-left: -454px;
	}
	
/*Header*/	
#header{
	position:relative;
	z-index:1;}
#header_mid{
	clear:both;}
#header_mid_left{
	background-image:url('../img/header_mid_left.png');
	background-repeat:repeat-y;
	min-height:28px;
	width:908px;}
#header_mid_right{
	background-image:url('../img/header_mid_right.png');
	background-position: right;
	background-repeat:repeat-y;
	min-height:28px;
	margin-left:11px;
	width:897px;}
#header_mid_mid{
	background-color:#fff;
	min-height:28px;
	width:886px;}

#header_bot{
	height:14px;
	clear:both;}
#header_bot_left{
	background-image:url('../img/header_bot_left.png');
	background-repeat:no-repeat;
	float: left;
	width:11px;
	height:100%;}
#header_bot_mid{
	background-image:url('../img/header_bot_mid.png');
	background-repeat:repeat-x;
	float: left;
	width:886px;
	height:100%;}
#header_bot_right{
	background-image:url('../img/header_bot_right.png');
	background-repeat:no-repeat;
	float: right;
	width:11px;
	height:100%;}
	
#header_logo{
	background-image:url('../img/logo.jpg');
	background-repeat:no-repeat;
	width:1110px;
	height:216px;
	position:absolute;
	top:4px;
	}
	
/*Body*/	
#body{
	position:relative;
	top:190px;
	z-index:1;}
	
#body_top{
	height:25px;
	clear:both;}
#body_top_left{
	background-image:url('../img/body_top_left.png');
	background-repeat:no-repeat;
	float: left;
	height:100%;
	width:11px;}
#body_top_mid{
	background-image:url('../img/body_top_mid.png');
	background-repeat:repeat-x;
	float: left;
	height:100%;
	width:886px;}
#body_top_right{
	background-image:url('../img/body_top_right.png');
	background-repeat:no-repeat;
	float: right;
	height:100%;
	width:11px;}
	
#body_mid_left{
	background-image:url('../img/body_mid_left.png');
	background-repeat:repeat-y;
	width:908px;}
#body_mid_right{
	background-image:url('../img/body_mid_right.png');
	background-position: right;
	background-repeat:repeat-y;
	margin-left:4px;
	width:904px;}
#body_mid_mid{
	background-color:#fff;
	min-height:6px;
	width:900px;}

#body_bot{
	height:14px;
	clear:both;}
#body_bot_left{
	background-image:url('../img/header_bot_left.png');
	background-repeat:no-repeat;
	float: left;
	width:11px;
	height:100%;}
#body_bot_mid{
	background-image:url('../img/header_bot_mid.png');
	background-repeat:repeat-x;
	float: left;
	width:886px;
	height:100%;}
#body_bot_right{
	background-image:url('../img/header_bot_right.png');
	background-repeat:no-repeat;
	float: right;
	width:11px;
	height:100%;}
	
/*Menu*/
#menu { 
	position:absolute;
	margin:-28px 0px 0px -39px;}
#menu ul{
	list-style-type: none;
    width: 100%;}

#menu li{
	float:left;
	text-align:center;
	width:142px;
	margin:0px 2px 0px 3px;}

#menu a{
	background-image: url('../img/menu_button_v1.png');
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	line-height: 29px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size:16px;
 	color:#333;}
	
#menu a:hover{ color:#666; }

/*Frames (Ook widgets voor rechterkant)*/
.frame_header{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size:16px;
	margin-left: 8px;
	padding: 0 4px 0 4px;
	background-color:#ffffff;}
	
.frame_left{
	width:679px;
	float:left;
	min-height:15px;}
.frame_left_top_mid{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-x;
	background-position:0px 9px;
	float:left;
	width:670px;}
.frame_left_top_right{
	background-repeat:no-repeat;
	background-image:url('../img/body_frame_corner_left.png');
	background-position:0px 9px;
	float:left;
	width:9px;}
.frame_left_mid_mid{
	padding-left:12px;
	font-family: Arial, sans-serif;
	font-size:16px;
	width:670px;}
.frame_left_mid_right{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-y;
	background-position:right;
	float:left;
	width:679px;}
.frame_left_bot_mid{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-x;
	background-position:bottom;
	float:left;
	height:10px;
	width:670px;}
.frame_left_bot_right{
	background-repeat:no-repeat;
	background-image:url('../img/body_frame_corner_left_bottom.png');
	background-position:right bottom;
	float:left;
	height:10px;
	width:9px;}
	
.frame_right{//border:1px solid #000000;
	width:219px;
	float:right;
	margin-left:2px;
	min-height:15px;}
.frame_right_top_mid{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-x;
	background-position:0px 9px;
	float:left;
	width:210px;}
.frame_right_top_left{//border:1px solid #000000;
	background-repeat:no-repeat;
	background-image:url('../img/body_frame_corner_right.png');
	background-position:0px 9px;
	float:left;
	width:9px;}
.frame_right_mid_mid{
	font-family: Arial, sans-serif;
	font-size:16px;
	float:right;
	width:210px;}
.frame_right_mid_left{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-y;
	background-position:left;
	float:left;
	width:219px}
.frame_right_bot_mid{
	background-image:url('../img/body_frame_border.gif');
	background-repeat:repeat-x;
	background-position:bottom;
	float:left;
	width:210px;
	height:10px;}
.frame_right_bot_left{
	background-repeat:no-repeat;
	background-image:url('../img/body_frame_corner_right_bottom.png');
	background-position:left bottom;
	float:left;
	width:9px;
	height:10px;}
	
/*Banner*/
#banner{
	background-image:url('../img/banner.jpg');
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	width:100%;
	height:216px;
	top: 28px;}
 
/*Buttons*/
.button_big{
	height:28px;
	width:100%;
	background:transparent url('../img/button_big_right.png') no-repeat scroll top right;
	font:normal 14px arial, sans-serif;
	text-decoration: none;
 	color:#333;
	cursor:pointer;
	float:right;}

.button_big:hover{ color:#666; }

.button_big_cont {
	height: 28px;
	background: transparent url('../img/button_big_left.png') no-repeat;
	padding: 0px 0px 0px 12px;
	margin-right: 4px;} 
